# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [14]:
CREATE TABLE JunkDB_STL_March2022.tinuade.planned_makes (
    visit_id INT PRIMARY KEY IDENTITY(1, 1),
    services VARCHAR (50) NOT NULL,
    sales VARCHAR (50) NOT NULL,
    visited_at DATETIME,
    phone VARCHAR(20),
    studio_id INT NOT NULL 
);

In [32]:
SELECT *
FROM tinuade.planned_makes;

visit_id,services,sales,visited_at,phone,studio_id
1,hair,cap,2022-07-10 12:00:00.000,909000000,0

Add three rows to your table that are your planned makes.

In [37]:
INSERT INTO tinuade.planned_makes (visit_id, services, sales, visited_at, phone, studio_id)
VALUES 
    (2, 'hair', 'cap', '2022-07-10 12:00:00', '909000000', 0),
    (3, 'nails', 'polish', '2022-07-10 12:00:00', '909000222', 0),
    (4, 'hair', 'gel', '2022-07-10 12:00:00', '909000123', 0)

In [39]:
SELECT *
FROM tinuade.planned_makes;

visit_id,services,sales,visited_at,phone,studio_id
1,hair,cap,2022-07-10 12:00:00.000,909000000,0
2,hair,cap,2022-07-10 12:00:00.000,909000000,0
3,nails,polish,2022-07-10 12:00:00.000,909000222,0
4,hair,gel,2022-07-10 12:00:00.000,909000123,0

## Update a Row

Change different values in one of your three rows.

In [41]:
UPDATE tinuade.planned_makes
SET services = 'acrylics'
WHERE visit_id = 3;

In [42]:
SELECT *
FROM tinuade.planned_makes;

visit_id,services,sales,visited_at,phone,studio_id
1,hair,cap,2022-07-10 12:00:00.000,909000000,0
2,hair,cap,2022-07-10 12:00:00.000,909000000,0
3,acrylics,polish,2022-07-10 12:00:00.000,909000222,0
4,hair,gel,2022-07-10 12:00:00.000,909000123,0

## Delete a Row

Delete one of the rows from your table.

In [46]:
DELETE FROM tinuade.planned_makes
WHERE visit_id =2;

In [44]:
SELECT *
FROM tinuade.planned_makes;

visit_id,services,sales,visited_at,phone,studio_id
1,hair,cap,2022-07-10 12:00:00.000,909000000,0
3,acrylics,polish,2022-07-10 12:00:00.000,909000222,0
4,hair,gel,2022-07-10 12:00:00.000,909000123,0

## Drop the Table

While this has been fun, it is time to drop the table!

In [50]:
DROP TABLE tinuade.planned_makes